/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1 {
	font-size: 8vw;
}

h6 {
	font-size: 2vw;
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 32px;
	}
}

@media screen and (max-width: 600px) {
	h6 {
		font-size: 12px;
	}
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 64px;
	}
	h6 {
		font-size: 16px;
	}
}

#root {
	isolation: isolate;
}

/* Globals */

:root {
	--c-black: #000411;
	--c-white: #ffffff;
	--c-dark-purple: #160c28;
	--c-honeydew: #e1efe6;
	--c-main: var(--c-dark-purple);

	--f-body: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	--f-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body {
	font-family: var(--f-body);
}

.mono {
	font-family: var(--f-mono);
}

.visuallyhidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.links {
	text-align: end;
	font-size: 18px;
	font-weight: 500;
}

.links a {
	text-decoration: none;
}

.current-link {
	pointer-events: none; /* Disable mouse events */
	opacity: 0.6; /* Visually indicate disabled state */
}

.current-link::before {
	content: "▶ ";
}

a {
	text-decoration: none;
	color: rgba(0, 0, 255, 0.8);
}
a:visited {
	color: rgb(128, 128, 255);
}

/* CSS */
.btn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 12px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 15px;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.btn-search {
	background: #dae7ef;
}

input {
	appearance: none;
	border: none;
	box-shadow: none;
	padding: 0.5em 0.5em;
	display: inline-block;
	cursor: pointer;
	border-radius: 0.25rem;
	font-weight: 600;
}

button {
	cursor: pointer;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: fixed;
	top: 24px;
	right: 48px;
	animation: rotate 1s linear infinite;
}

.loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #fff;
	animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(
			50% 50%,
			0 0,
			100% 0,
			100% 100%,
			100% 100%,
			100% 100%
		);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

/* Specific */

main {
	margin-top: 0;
}

header {
	color: var(--c-white);
	text-align: center;
	padding: 1%;
	background-color: #2a2a72;
	background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.header-links {
	width: 100%;
	text-align: right;
}

a.header-link {
	text-align: end;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	color: white;
	padding: 0 0.5em;
	text-decoration: none;
}

.logos {
	margin: 0 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px; /* adjust this value as needed */
}

.logos-grid {
	display: grid;
	grid-template-columns: 4fr 0.1fr 3.4fr;
}


.logo-container-1 {
    flex: 1;
	padding-right: 20px;
    text-align: right;
}

.logo-container-2 {
    flex: 1;
	padding-left: 20px;
    text-align: left;
}

.line {
    width: 1px;
    height: 50%; /* adjust this value as needed */
    background-color: #ffffff;
    align-self: center;
}

.tools {
	margin-top: 20px;
	width: 100%;
	/* margin-left: -10%; */
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10%;
}

.title {
	font-size: 1.5rem;
	font-weight: 100;
	margin-bottom: 2rem;
	text-align: center;
}

.title .description {
	font-weight: 500px;
	font-family: 'ui-monospace';
}

.column-names::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #d4e4e4;
    grid-column: span 3;
}

.strategies {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px 0;
	margin-bottom: 1%;
}

.search {
	padding: 10px;
}

header form {
	padding: 20px 0;
}

.personalized-search {
	margin-top: 10px;
}

.strategies details {
	margin-left: auto;
}

.profiles-grid {
	display: grid;
	grid-template-columns: 1.5fr 5fr 1.5fr;
	padding: 20px 10%;
}

.profiles-grid > div {
	display: contents;
}

.profiles-grid span,
.profiles-grid strong {
	padding: 8px 0;
}

.profiles-grid .right-align {
	text-align: right;
}

.profiles-grid .active-row span {
	font-weight: bold;
	background-color: aliceblue;
}

.pagination {
	border-radius: 0.25rem;
	overflow: hidden;
	display: inline-flex;
	align-items: stretch;
	margin-bottom: 10px;
}

.pagination button,
.pagination span {
	appearance: none;
	border: none;
	box-shadow: none;
	padding: 0.5rem 0.75rem;
	background-color: #009ffd;
	line-height: 1.25;
	color: var(--c-black);
	transition: opacity 0.3s;
}

.pagination button:disabled {
	opacity: 0.8;
	cursor: not-allowed;
}

.pagination span {
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--c-white);
	text-align: center;
	padding: 10px;
	border-radius: 6px;
	font-weight: normal;

	width: 150%;
	bottom: 110%;
	left: 0%;
	margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}
