/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root {
	isolation: isolate;
}

/* Globals */

:root {
	--c-black: #000411;
	--c-white: #ffffff;
	--c-dark-purple: #160c28;
	--c-naples-yellow: #efcb68;
	--c-honeydew: #e1efe6;
	--c-main: var(--c-dark-purple);
	--c-alt: var(--c-naples-yellow);

	--f-body: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	--f-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body {
	background-color: var(--c-dark-purple);
	color: var(--c-white);
	font-family: var(--f-body);
}

.mono {
	font-family: var(--f-mono);
}

.visuallyhidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	appearance: none;
	border: none;
	box-shadow: none;
	padding: 0.5em 1em;
	display: inline-block;
	cursor: pointer;
	border-radius: 0.25rem;
	font-weight: 600;
	background-color: var(--c-naples-yellow);
}

input {
	appearance: none;
	border: none;
	box-shadow: none;
	padding: 0.5em 0.5em;
	display: inline-block;
	cursor: pointer;
	border-radius: 0.25rem;
	font-weight: 600;
}

button {
	cursor: pointer;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: fixed;
	top: 24px;
	right: 48px;
	animation: rotate 1s linear infinite;
}
.loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #fff;
	animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(
			50% 50%,
			0 0,
			100% 0,
			100% 100%,
			100% 100%,
			100% 100%
		);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

/* Specific */

main {
	padding: 80px 0;
}

header {
	text-align: center;
}

.logo {
	position: absolute;
	top: 24px;
	left: 48px;
}

.title {
	font-size: 1.5rem;
	font-weight: 100;
	margin-bottom: 2rem;
	text-align: center;
}

.strategies {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.strategies .btn {
	background-color: var(--c-honeydew);
}

header form {
	padding: 20px 0;
}

.search input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search .btn {
	border-radius: 0;
}

.search .btn:last-child {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.strategies details {
	margin-left: auto;
}

.profiles-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 40px 0;
}

.profiles-grid > div {
	display: contents;
}

.profiles-grid span,
.profiles-grid strong {
	padding: 8px 0;
}

.profiles-grid span:first-child {
	padding-left: 0.5rem;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.profiles-grid span:last-child {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.profiles-grid .active-row span {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination {
	border-radius: 0.25rem;
	overflow: hidden;
	display: inline-flex;
	align-items: stretch;
}

.pagination button,
.pagination span {
	appearance: none;
	border: none;
	box-shadow: none;
	padding: 0.5rem 0.75rem;
	background-color: var(--c-naples-yellow);
	line-height: 1.25;
	color: var(--c-black);
	transition: opacity 0.3s;
}

.pagination button:disabled {
	opacity: 0.8;
	cursor: not-allowed;
}

.pagination span {
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--c-white);
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-weight: normal;

	width: 150%;
	bottom: 110%;
	left: 0%;
	margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}
